html,
body {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    gap: 0;
}

.container {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: flex-start;
    margin: 10px;
    padding: 0;
}

.container div {
    width: 40px;
    height: 40px;
    border: 1px solid rgb(2, 2, 2);
    background-color: pink;
}

.container div :hover {
    background-color: rgb(21, 216, 37);
    color: black;
    cursor: pointer;
}


