html,
body {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    gap: 0;
}


.container div {
    width: 20px;
    height: 20px;
    border: 1px solid blue;
    background-color: pink;
    display: inline-block;
    gap:2px;
    /* float: left; */
}

/* .container {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    border:5px solid black;
    margin: 0;
    padding: 0;
} */